:root {
  --altura_header1: 148px;
  --altura_header2: 200px;
  --altura_header3: 190px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes carrusel {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
body {
  background-color: #191919;
}

p {
  font-family: "ADLaM Display";
}

h1 {
  font-family: "ADLaM Display";
}

h2 {
  font-family: "ADLaM Display";
}

h3 {
  font-family: "ADLaM Display";
  color: aliceblue;
}

/*MOBILE (320PX)*/
/*HEDER*/
.fondonav {
  background-color: black;
}

.navpadre_M {
  height: 20vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "navm1 navm2 " "navm3 navm4";
  align-items: center;
  position: relative;
}

.navpadre_M a {
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: aliceblue;
}

.navhijo-1M {
  grid-area: navm1;
  display: flex;
  justify-content: left;
}

.navhijo-1M img {
  height: 90px;
  width: 140px;
}

.navhijo-2M {
  grid-area: navm2;
  display: flex;
  justify-content: right;
}

.navhijo-2M img {
  height: 30%;
  width: 35%;
}

.navhijo-3M {
  grid-area: navm3;
  display: flex;
  justify-content: space-evenly;
}

.navhijo-3M a {
  text-decoration: none;
  font-size: 0.6rem;
}

.navhijo-4M {
  grid-area: navm4;
  display: flex;
  justify-content: right;
  margin-right: 20px;
  flex-wrap: wrap;
}

.navhijo-4M a {
  font-family: "Anuphan";
  font-size: 22px;
  font-weight: bold;
}

.menu_hamburguesa {
  display: none;
}

.menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - var(--altura_header));
}

.list_icon {
  cursor: pointer;
  color: aliceblue;
}

.ul_links {
  width: 100%;
  background-color: rgb(26, 25, 25);
  position: absolute;
  top: var(--altura_header1);
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 1.5rem;
}

.links {
  font-size: 2rem;
}

.navhijo-1D {
  display: none;
}

.navhijo-2D {
  display: none;
}

.navhijo-3D {
  display: none;
}

.navhijo-4D {
  display: none;
}

.navhijo-5D {
  display: none;
}

.navhijo-6D {
  display: none;
}

.navhijo-7D {
  display: none;
}

.navhijo-8D {
  display: none;
}

/*(480PX)*/
@media (min-width: 480px) {
  .navpadre_M {
    height: 30vh;
  }
  .navhijo-1M img {
    height: 100px;
    width: 150px;
  }
  .navhijo-2M img {
    height: 30%;
    width: 35%;
  }
  .navhijo-3M a {
    font-size: 0.8rem;
  }
  .ul_links {
    top: var(--altura_header2);
  }
  .links {
    font-size: 2rem;
  }
  .list_icon {
    width: 35px;
    height: 35px;
  }
  .navhijo-1D {
    display: none;
  }
  .navhijo-2D {
    display: none;
  }
  .navhijo-3D {
    display: none;
  }
  .navhijo-4D {
    display: none;
  }
  .navhijo-5D {
    display: none;
  }
  .navhijo-6D {
    display: none;
  }
  .navhijo-7D {
    display: none;
  }
  .navhijo-8D {
    display: none;
  }
}
/*(600PX)*/
@media (min-width: 600px) {
  .navpadre_M {
    height: 30vh;
  }
  .navhijo-1M img {
    height: 130px;
    width: 180px;
  }
  .navhijo-2M img {
    height: 30%;
    width: 35%;
  }
  .navhijo-3M a {
    font-size: 1rem;
  }
  .ul_links {
    top: var(--altura_header3);
  }
  .links {
    font-size: 2rem;
  }
  .list_icon {
    width: 40px;
    height: 40px;
  }
  .navhijo-2D {
    display: none;
  }
  .navhijo-3D {
    display: none;
  }
  .navhijo-4D {
    display: none;
  }
  .navhijo-5D {
    display: none;
  }
  .navhijo-6D {
    display: none;
  }
  .navhijo-7D {
    display: none;
  }
  .navhijo-8D {
    display: none;
  }
}
/*(820PX)*/
@media (min-width: 820px) {
  .navpadre_M {
    height: 30vh;
  }
  .navhijo-1M img {
    height: 130px;
    width: 180px;
  }
  .navhijo-2M img {
    height: 100px;
    width: 120px;
  }
  .navhijo-3M a {
    font-size: 1.5rem;
  }
  .ul_links {
    top: var(--altura_header2);
  }
  .links {
    font-size: 2rem;
  }
  .list_icon {
    width: 40px;
    height: 40px;
  }
  .navhijo-2D {
    display: none;
  }
  .navhijo-3D {
    display: none;
  }
  .navhijo-4D {
    display: none;
  }
  .navhijo-5D {
    display: none;
  }
  .navhijo-6D {
    display: none;
  }
  .navhijo-7D {
    display: none;
  }
  .navhijo-8D {
    display: none;
  }
}
/*Desktop(1000PX)*/
/*header*/
@media (min-width: 1000px) {
  .navpadre_M {
    display: none;
  }
  .navpadre_D {
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "navD1 navD2 navD2 navD3 navD3" "navD6 navD7 navD8 navD9 navD10";
    align-items: center;
  }
  .navpadre_D {
    transition: transform 1s ease-in-out;
  }
  .navpadre_D img:hover {
    transform: scale(1.1);
  }
  .navpadre {
    transition: transform 1s ease-in-out;
  }
  .navpadre_D a:hover {
    transform: scale(1.1);
    background-color: rgb(161, 81, 185);
  }
  .navpadre_D a {
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
  }
  /* Establece el fondo con un degradado de azul a blanco */
  .degrade-text {
    background-image: linear-gradient(to right, rgb(161, 81, 185), rgb(93, 139, 133));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1rem;
    font-family: "Nosifer";
  }
  .navhijo-1D {
    grid-area: navD1;
    display: flex;
    justify-content: center;
  }
  .navhijo-1D img {
    height: 140px;
    width: 180px;
  }
  .navhijo-2D {
    grid-area: navD2;
    display: flex;
    justify-content: right;
    margin-right: 30%;
  }
  .navhijo-2D img {
    height: 100px;
    width: 100px;
    border-radius: 1000%;
  }
  .navhijo-3D {
    grid-area: navD3;
    display: flex;
    justify-content: right;
    padding: 5%;
    align-self: center;
  }
  .navhijo-3D img {
    height: 80px;
    width: 80px;
    border-radius: 30%;
  }
  .navhijo-4D {
    grid-area: navD6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navhijo-5D {
    grid-area: navD7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navhijo-6D {
    grid-area: navD8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navhijo-7D {
    grid-area: navD9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navhijo-8D {
    grid-area: navD10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label_hamburguesa {
    display: none;
  }
  .navhijo-1M {
    display: none;
  }
  .navhijo-2M {
    display: none;
  }
  .navhijo-3M {
    display: none;
  }
  .navhijo-4M {
    display: none;
  }
}
/*(1200PX)*/
@media (min-width: 1200px) {
  .label_hamburguesa {
    display: none;
  }
  .navhijo-1M {
    display: none;
  }
  .navhijo-2M {
    display: none;
  }
  .navhijo-3M {
    display: none;
  }
  .navhijo-4M {
    display: none;
  }
}
/*MOBILE (320PX)*/
/*main*/
.box_M {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "boxM1 boxM1" "boxM2 boxM2" "boxM3 boxM3" "boxM4 boxM4" "boxM5 boxM6" "boxM7 boxM8" "boxM9 boxM10";
}

.box_1M {
  grid-area: boxM1;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.box_1M img {
  width: 100%;
  height: auto;
}

.box_D {
  display: none;
}

.box_2M {
  grid-area: boxM3;
  background-color: white;
  width: 100%;
  height: auto;
  margin: 10px auto 0;
  overflow: hidden;
}

.box_2M ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: carrusel 16s infinite alternate ease-in-out;
}

.box_2M li {
  list-style: none;
  width: 100%;
}

.box_2M img {
  width: 100%;
}

.box_3M {
  grid-area: boxM4;
  background-color: black;
  display: flex;
  justify-content: center;
}

.box_3M img {
  width: 100%;
  height: 100%;
}

.box_4M {
  grid-area: boxM2;
  background-color: black;
  width: 100%;
  height: 100%;
}

.box_4M video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: left;
  flex-grow: 1;
  flex-basis: 320px;
  overflow: hidden;
  transition: 0.5s;
  background-color: black;
}

.box_5M {
  grid-area: boxM5;
  position: relative;
  width: 160PX;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_5M .face-iphone {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.box_5M .front-iphone {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}

.box_5M .front-iphone img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_5M .back-iphone {
  transform: perspective(600px) rotateY(180deg);
  background-color: #191919;
  padding: 1px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #191919;
}

.box_5M .back-iphone .link-iphone {
  border-top: solid 1px #191919;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: aliceblue;
  text-align: center;
}

.box_5M .back-iphone .link-iphone a {
  color: aliceblue;
  text-decoration: none;
}

.box_5M:hover .front-iphone {
  transform: perspective(600px) rotateY(180deg);
}

.box_5M:hover .back-iphone {
  transform: perspective(600px) rotateY(360deg);
}

.box_6M {
  grid-area: boxM6;
  position: relative;
  width: 160PX;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_6M .face-watch {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.box_6M .front-watch {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}

.box_6M .front-watch img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_6M .back-watch {
  transform: perspective(600px) rotateY(180deg);
  background-color: #191919;
  padding: 1px;
  color: rgb(11, 12, 14);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #191919;
}

.box_6M .back-watch .link-watch {
  border-top: solid 1px #191919;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: aliceblue;
  text-align: center;
}

.box_6M .back-watch .link-watch a {
  color: rgb(19, 21, 22);
  text-decoration: none;
}

.box_6M:hover .front-watch {
  transform: perspective(600px) rotateY(180deg);
}

.box_6M:hover .back-watch {
  transform: perspective(600px) rotateY(360deg);
}

.box_7M {
  grid-area: boxM7;
  position: relative;
  width: 160PX;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_7M .face-ipad {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.box_7M .front-ipad {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}

.box_7M .front-ipad img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_7M .back-ipad {
  transform: perspective(600px) rotateY(180deg);
  background-color: #191919;
  padding: 1px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #191919;
}

.box_7M .back-ipad .link-ipad {
  border-top: solid 1px #191919;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: aliceblue;
  text-align: center;
}

.box_7M .back-ipad .link-ipad a {
  color: rgb(0, 2, 3);
  text-decoration: none;
}

.box_7M:hover .front-ipad {
  transform: perspective(600px) rotateY(180deg);
}

.box_7M:hover .back-ipad {
  transform: perspective(600px) rotateY(360deg);
}

.box_8M {
  grid-area: boxM8;
  position: relative;
  width: 160PX;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_8M .face-macbook {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.box_8M .front-macbook {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}

.box_8M .front-macbook img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_8M .back-macbook {
  transform: perspective(600px) rotateY(180deg);
  background-color: #191919;
  padding: 1px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #191919;
}

.box_8M .back-macbook .link-macbook {
  border-top: solid 1px #191919;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: aliceblue;
  text-align: center;
}

.box_8M .back-macbook .link-macbook a {
  color: aliceblue;
  text-decoration: none;
}

.box_8M:hover .front-macbook {
  transform: perspective(600px) rotateY(180deg);
}

.box_8M:hover .back-macbook {
  transform: perspective(600px) rotateY(360deg);
}

.box_9M {
  grid-area: boxM9;
  position: relative;
  width: 160PX;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_9M .face-airpods {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.box_9M .front-airpods {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}

.box_9M .front-airpods img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_9M .back-airpods {
  transform: perspective(600px) rotateY(180deg);
  background-color: #191919;
  padding: 1px;
  color: rgb(11, 12, 14);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #191919;
}

.box_9M .back-airpods .link-airpods {
  border-top: solid 1px #191919;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: aliceblue;
  text-align: center;
}

.box_9M .back-airpods .link-airpods a {
  color: rgb(19, 21, 22);
  text-decoration: none;
}

.box_9M:hover .front-airpods {
  transform: perspective(600px) rotateY(180deg);
}

.box_9M:hover .back-airpods {
  transform: perspective(600px) rotateY(360deg);
}

.box_10M {
  grid-area: boxM10;
  position: relative;
  width: 160PX;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_10M .face-charguer {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.box_10M .front-charguer {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}

.box_10M .front-charguer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_10M .back-charguer {
  transform: perspective(600px) rotateY(180deg);
  background-color: #191919;
  padding: 1px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #191919;
}

.box_10M .back-charguer .link-charguer {
  border-bottom: solid 1px #191919;
  position: absolute;
  top: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: aliceblue;
  text-align: center;
}

.box_10M .back-charguer .link-charguer a {
  color: rgb(7, 7, 7);
  text-decoration: none;
}

.box_10M:hover .front-charguer {
  transform: perspective(600px) rotateY(180deg);
}

.box_10M:hover .back-charguer {
  transform: perspective(600px) rotateY(360deg);
}

.box_D {
  display: none;
}

/*(480PX)*/
@media (min-width: 480px) {
  .box_D {
    display: none;
  }
}
/*main*/
/*.box_M{
    width: 480px;
}

.box_1M{
    width: 100%;
    height: 200px;
}
.box_1M img{
    width: 480px;
    height: auto;
}

.box_2M{
    width: 480px;
}

.box_2M img{
    width: 100%;
}

.box_3M img{
    width: 480px;
    height: 300px;
}

.box_4M {
    width: 480px; 
    height: 300px;
}
.box_4M video {
    width: 480px; 
    height: 300px; 
    flex-basis: 480px;
}
.box_5M{
    height: 100%;
    width: 100%;
}
.box_6M{
    height: 250px;
    width: 160px;
}
.box_7M{
    height: 250px;
    width: 160px;
}
.box_8M{
    height: 250px;
    width: 160px;
}
.box_9M{
    height: 250px;
    width: 160px;
}
.box_10M{
    height: 250px;
    width: 160px;
}

}

                                /*(600PX)*/
@media (min-width: 600px) {
  .box_2M {
    background-color: white;
  }
}
/*(820PX)*/
/*DESKTOP(1000PX)*/
@media (min-width: 1000px) {
  .fondoindex {
    background-image: url(../images/fondo/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .galaxia {
    background-image: url(../images/pagPrincipal/fondohorizontal.png);
    background-attachment: fixed;
    background-position: center;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .box-1D video {
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: left;
    align-self: left;
    flex-grow: 1;
    flex-basis: 320px;
    overflow: hidden;
    transition: 0.5s;
  }
  video:hover {
    flex-grow: 4;
  }
  .box_M {
    display: none;
  }
}
.fondoipad {
  background-image: url(../images/fondo/fondoipad.jpeg);
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
}

footer {
  height: 30vh;
  background-color: white;
}

.footer-hijos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
