*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$tipografiatitulo: 'ADLaM Display';

body{
    background-color: #191919;
}

p{
    font-family: $tipografiatitulo;
}

h1{
    font-family: $tipografiatitulo;
}

h2{
    font-family: $tipografiatitulo;
}


h3{
    font-family: $tipografiatitulo;
    color: aliceblue;
}