:root {
    --altura_header1: 148px;
    --altura_header2: 200px;
    --altura_header3: 190px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes carrusel {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}

$tipografiatitulo: 'ADLaM Display';

body{
    background-color: #191919;
}

p{
    font-family: $tipografiatitulo;
}

h1{
    font-family: $tipografiatitulo;
}

h2{
    font-family: $tipografiatitulo;
}


h3{
    font-family: $tipografiatitulo;
    color: aliceblue;
}