/*main*/
.fondoindex{
    background-image: url(../images/fondo/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.galaxia{
    background-image: url(../images/pagPrincipal/fondohorizontal.png);
    background-attachment: fixed;
    background-position: center;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: right;
}



.box-1{

}
video {
    width: 700px; 
    height: 500px; 
    display: flex;
    justify-content: left; 
    align-self: left;
    flex-grow: 1;
    flex-basis: 320px;
    overflow: hidden;
    transition: 0.5s;

}
video:hover {
    flex-grow: 4;
}