                                /*MOBILE (320PX)*/


/*main*/

.box_M{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    "boxM1 boxM1"
    "boxM2 boxM2"
    "boxM3 boxM3"
    "boxM4 boxM4"
    "boxM5 boxM6"
    "boxM7 boxM8"
    "boxM9 boxM10";
}

.box_1M{
    grid-area: boxM1;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.box_1M img{
    width: 100%;
    height: auto;
}
.box_D{
    display: none;
}

.box_2M{
    grid-area: boxM3;
    background-color: white;
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;

}
.box_2M ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: carrusel 16s infinite alternate ease-in-out;
}

.box_2M li {
    list-style: none;
    width: 100%;
}
.box_2M img{
    width: 100%;
}

.box_3M{
    grid-area: boxM4;
    background-color: black;
    display: flex;
    justify-content: center;
}
.box_3M img{
    width: 100%;
    height: 100%;
}

.box_4M {
    grid-area: boxM2;
    background-color: black;
    width: 100%; 
    height: 100%;
}
.box_4M video {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-self: left;
    flex-grow: 1;
    flex-basis: 320px;
    overflow: hidden;
    transition: 0.5s;
    background-color: black;

}

.box_5M {
    grid-area: boxM5;
    position: relative;
    width: 160PX;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_5M .face-iphone {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}

.box_5M .front-iphone {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.box_5M .front-iphone img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box_5M .back-iphone {
    transform: perspective(600px) rotateY(180deg);
    background-color: #191919;
    padding: 1px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #191919;
}

.box_5M .back-iphone .link-iphone{
    border-top: solid 1px #191919;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    text-align: center;

}
.box_5M .back-iphone .link-iphone a {
    color: aliceblue;
    text-decoration: none;

}

.box_5M:hover .front-iphone {
    transform: perspective(600px) rotateY(180deg);
}
.box_5M:hover .back-iphone {
    transform: perspective(600px) rotateY(360deg);
}


.box_6M {
    grid-area: boxM6;
    position: relative;
    width: 160PX;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_6M .face-watch {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}

.box_6M .front-watch {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.box_6M .front-watch img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box_6M .back-watch {
    transform: perspective(600px) rotateY(180deg);
    background-color: #191919;
    padding: 1px;
    color: rgb(11, 12, 14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #191919;
}

.box_6M .back-watch .link-watch{
    border-top: solid 1px #191919;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    text-align: center;

}
.box_6M .back-watch .link-watch a {
    color: rgb(19, 21, 22);
    text-decoration: none;

}

.box_6M:hover .front-watch {
    transform: perspective(600px) rotateY(180deg);
}
.box_6M:hover .back-watch {
    transform: perspective(600px) rotateY(360deg);
}


.box_7M {
    grid-area: boxM7;
    position: relative;
    width: 160PX;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_7M .face-ipad {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}

.box_7M .front-ipad {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.box_7M .front-ipad img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_7M .back-ipad {
    transform: perspective(600px) rotateY(180deg);
    background-color: #191919;
    padding: 1px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #191919;
}

.box_7M .back-ipad .link-ipad{
    border-top: solid 1px #191919;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    text-align: center;

}
.box_7M .back-ipad .link-ipad a {
    color: rgb(0, 2, 3);
    text-decoration: none;

}

.box_7M:hover .front-ipad {
    transform: perspective(600px) rotateY(180deg);
}
.box_7M:hover .back-ipad {
    transform: perspective(600px) rotateY(360deg);
}

.box_8M {
    grid-area: boxM8;
    position: relative;
    width: 160PX;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_8M .face-macbook {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}

.box_8M .front-macbook {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.box_8M .front-macbook img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box_8M .back-macbook {
    transform: perspective(600px) rotateY(180deg);
    background-color: #191919;
    padding: 1px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #191919;
}

.box_8M .back-macbook .link-macbook{
    border-top: solid 1px #191919;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    text-align: center;

}
.box_8M .back-macbook .link-macbook a {
    color: aliceblue;
    text-decoration: none;

}

.box_8M:hover .front-macbook{
    transform: perspective(600px) rotateY(180deg);
}
.box_8M:hover .back-macbook {
    transform: perspective(600px) rotateY(360deg);
}

.box_9M {
    grid-area: boxM9;
    position: relative;
    width: 160PX;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_9M .face-airpods {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}

.box_9M .front-airpods {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.box_9M .front-airpods img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box_9M .back-airpods {
    transform: perspective(600px) rotateY(180deg);
    background-color: #191919;
    padding: 1px;
    color: rgb(11, 12, 14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #191919;
}

.box_9M .back-airpods .link-airpods{
    border-top: solid 1px #191919;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    text-align: center;

}
.box_9M .back-airpods .link-airpods a {
    color: rgb(19, 21, 22);
    text-decoration: none;

}

.box_9M:hover .front-airpods {
    transform: perspective(600px) rotateY(180deg);
}
.box_9M:hover .back-airpods {
    transform: perspective(600px) rotateY(360deg);
}


.box_10M {
    grid-area: boxM10;
    position: relative;
    width: 160PX;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_10M .face-charguer {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}

.box_10M .front-charguer {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.box_10M .front-charguer img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box_10M .back-charguer {
    transform: perspective(600px) rotateY(180deg);
    background-color: #191919;
    padding: 1px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #191919;
}

.box_10M .back-charguer .link-charguer{
    border-bottom: solid 1px #191919;
    position: absolute;
    top: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    text-align: center;

}
.box_10M .back-charguer .link-charguer a {
    color: rgb(7, 7, 7);
    text-decoration: none;

}

.box_10M:hover .front-charguer {
    transform: perspective(600px) rotateY(180deg);
}
.box_10M:hover .back-charguer {
    transform: perspective(600px) rotateY(360deg);
}











































.box_D{
    display: none;
}





                                /*(480PX)*/



@media (min-width: 480px){

.box_D{
    display: none;
}
}
/*main*/
/*.box_M{
    width: 480px;
}

.box_1M{
    width: 100%;
    height: 200px;
}
.box_1M img{
    width: 480px;
    height: auto;
}

.box_2M{
    width: 480px;
}

.box_2M img{
    width: 100%;
}

.box_3M img{
    width: 480px;
    height: 300px;
}

.box_4M {
    width: 480px; 
    height: 300px;
}
.box_4M video {
    width: 480px; 
    height: 300px; 
    flex-basis: 480px;
}
.box_5M{
    height: 100%;
    width: 100%;
}
.box_6M{
    height: 250px;
    width: 160px;
}
.box_7M{
    height: 250px;
    width: 160px;
}
.box_8M{
    height: 250px;
    width: 160px;
}
.box_9M{
    height: 250px;
    width: 160px;
}
.box_10M{
    height: 250px;
    width: 160px;
}

}

                                /*(600PX)*/



@media (min-width: 600px){

    .box_2M{
        background-color: white;
    }


}


                                /*(820PX)*/



@media (min-width: 820px){




}

                                /*DESKTOP(1000PX)*/



@media (min-width: 1000px){





.fondoindex{
    background-image: url(../images/fondo/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.galaxia{
    background-image: url(../images/pagPrincipal/fondohorizontal.png);
    background-attachment: fixed;
    background-position: center;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: right;
}



.box-1D video {
    width: 700px; 
    height: 500px; 
    display: flex;
    justify-content: left; 
    align-self: left;
    flex-grow: 1;
    flex-basis: 320px;
    overflow: hidden;
    transition: 0.5s;

}
video:hover {
    flex-grow: 4;
}




.box_M{
    display: none;
}





}