                                /*MOBILE (320PX)*/


/*main*/

.box_M{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    "boxM1 boxM1"
    "boxM2 boxM2"
    "boxM3 boxM3"
    "boxM4 boxM4"
    "boxM5 boxM6"
    "boxM7 boxM8"
    "boxM9 boxM10";
}

.box_1M{
    grid-area: boxM1;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.box_1M img{
    width: 100%;
    height: auto;
}
.box_D{
    display: none;
}

.box_2M{
    grid-area: boxM3;
    background-color: white;
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;

}
.box_2M ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: carrusel 16s infinite alternate ease-in-out;
}

.box_2M li {
    list-style: none;
    width: 100%;
}
.box_2M img{
    width: 100%;
}

.box_3M{
    grid-area: boxM4;
    background-color: black;
    display: flex;
    justify-content: center;
}
.box_3M img{
    width: 100%;
    height: 100%;
}

.box_4M {
    grid-area: boxM2;
    background-color: black;
    width: 100%; 
    height: 100%;
}
.box_4M video {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-self: left;
    flex-grow: 1;
    flex-basis: 320px;
    overflow: hidden;
    transition: 0.5s;
    background-color: black;

}
.box_5M{
    grid-area: boxM5;
    height: 100%;
    width: 100%;
}
.box_5M img{
    height: 100%;
    width: 100%;
}

.box_6M{
    grid-area: boxM6;
    height: 100%;
    width: 100%;
}
.box_6M img{
    height: 100%;
    width: 100%;
}

.box_7M{
    grid-area: boxM7;
    height: 100%;
    width: 100%;
}
.box_7M img{
    height: 100%;
    width: 100%;
}

.box_8M{
    grid-area: boxM8;
    height: 100%;
    width: 100%;;
}
.box_8M img{
    height: 100%;
    width: 100%;
}

.box_9M{
    grid-area: boxM9;
    height: 100%;
    width: 100%;
}
.box_9M img{
    height: 100%;
    width: 100%;
}

.box_10M{
    grid-area: boxM10;
    height: 100%;
    width: 100%;
}
.box_10M img{
    height: 100%;
    width: 100%;
}

.box_D{
    display: none;
}





                                /*(480PX)*/



@media (min-width: 480px){

.box_D{
    display: none;
}
}
/*main*/
/*.box_M{
    width: 480px;
}

.box_1M{
    width: 100%;
    height: 200px;
}
.box_1M img{
    width: 480px;
    height: auto;
}

.box_2M{
    width: 480px;
}

.box_2M img{
    width: 100%;
}

.box_3M img{
    width: 480px;
    height: 300px;
}

.box_4M {
    width: 480px; 
    height: 300px;
}
.box_4M video {
    width: 480px; 
    height: 300px; 
    flex-basis: 480px;
}
.box_5M{
    height: 100%;
    width: 100%;
}
.box_6M{
    height: 250px;
    width: 160px;
}
.box_7M{
    height: 250px;
    width: 160px;
}
.box_8M{
    height: 250px;
    width: 160px;
}
.box_9M{
    height: 250px;
    width: 160px;
}
.box_10M{
    height: 250px;
    width: 160px;
}

}

                                /*(600PX)*/



@media (min-width: 600px){

    .box_2M{
        background-color: white;
    }


}


                                /*(820PX)*/



@media (min-width: 820px){




}

                                /*DESKTOP(1000PX)*/



@media (min-width: 1000px){





.fondoindex{
    background-image: url(../images/fondo/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.galaxia{
    background-image: url(../images/pagPrincipal/fondohorizontal.png);
    background-attachment: fixed;
    background-position: center;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: right;
}



.box-1D video {
    width: 700px; 
    height: 500px; 
    display: flex;
    justify-content: left; 
    align-self: left;
    flex-grow: 1;
    flex-basis: 320px;
    overflow: hidden;
    transition: 0.5s;

}
video:hover {
    flex-grow: 4;
}




.box_M{
    display: none;
}





}